<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Breezehome</title>
	<script src="/js/jquery-1.9.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/script.js"></script>
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap-responsive.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
	<hr>
	<div class="row-fluid">
		<div class="span2"><a id="back" href=""><i class="icon-fast-backward icon-2x"></i></a></div>
		<div class="span2 play-pause-icon"><a id="play-pause" href=""><i class="icon-play icon-2x"></i></a></div>
		<div class="span2"><a id="next" href=""><i class="icon-fast-forward icon-2x"></i></a></div>
	</div>
	<hr>
	<h4 id="current-song">No song playing<h4>
	<hr>
	<div class="tabbable"> 
		<ul class="nav nav-tabs">
			<li class="active"><a id="queue-link" href="#queue-tab" data-toggle="tab">Queue</a></li>
			<li><a id="search-link" href="#search-tab" data-toggle="tab">Search</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="queue-tab">
				<table id="queue-table" class="table table-striped"></table>
			</div>
			<div class="tab-pane" id="search-tab">
				<div class="input-append">
					<input class="span2" id="search-value" type="text">
					<button class="btn" type="button" id="search"> Search</button>
				</div>
				<table id="search-table" class="table-striped table"></table>
			</div>
		</div>
	</div>
</body>
</html>